@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.head-of-page {
    border: solid 1px #cccccc;
    width: 1200px;
    height: 480px;
    border-radius: 5px;
    margin-bottom: 30px;
    position: relative;
    right: 6.5vw;
    font-family: "Roboto", sans-serif;

}

.head-of-page-1 {
    width: 450px;
    height: 140px;
    position: relative;
    font-family: "Roboto", sans-serif;
}

.head-of-page-2 {
    font-family: "Roboto", sans-serif;

}

.big-avatar {
    width: 220px;
    height: 288px;
    position: relative;
    left: 43px;
    top: 10px;
    font-family: "Roboto", sans-serif;

    /* right: -47px;
    top: 14px; */
}

.frame-avatar {
    width: 300px;
    height: 315px;
    position: absolute;
    left: 665px;
    top: 13px;
    left: 853px;
    border: #cccccc 1px solid;
    font-family: "Roboto", sans-serif;
    /* border-radius: 10px; */
}

.freefire-image {
    width: 120px;
    height: 120px;
    position: relative;
    top: -24px;
    font-family: "Roboto", sans-serif;
    /* bottom: 135px; */
    /* bottom : 300px;
    left: 15px; */
}

.danh-hieu {
    position: relative;
    left: 150px;
    top: -140px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;

}

.name-info {
    position: relative;
    /* bottom: 545px; */
    top: 50px;
    left: 150px;
    font-family: "Roboto", sans-serif;

}

.rating {
    position: relative;
    left: 147px;
    bottom: 80px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.career-profile {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    /* position: relative;
    bottom: 240px;
    left: 10px; */
}

.exp-profile {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    /* position: relative;
    bottom: 230px;
    left: 10px; */
}

.join-giasutot {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    /* position: relative;
    bottom: 235px;
    left: 10px; */
}

.online-profile {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    /* position: relative;
    bottom: 222px;
    left: 10px; */
}

.count-client {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    /* position: absolute;
    top: 162px;
    left: 400px; */
}

.good-assessment-chain {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    /* position: absolute;
    top: 200px;
    left: 400px; */
}

.classes {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    /* position: absolute;
    top: 250px;
    left: 400px; */
}

.mota {
    width: 480px;
    border: white;
    position: relative;
    /* left: 170px;
    bottom: 39px; */
    background-color: #f6fcff;
    font-family: "Roboto", sans-serif;
}

.option-fix {
    display: inline;
}

.button-fix {
    color: white;
    background-color: #28a745;
    border: 1px white solid;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Roboto", sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.pen-fix {
    margin-left: 14px;
    margin-right: 10px;
    font-family: "Roboto", sans-serif;
    opacity: 0.7;
}

.file-avatar {
    position: absolute;
    top: 320px;
    right: -110px;
    border: white;
    font-family: "Roboto", sans-serif;
}

.submit-avatar {
    position: relative;
    top: 70px;
    left: 94px;
    font-family: "Roboto", sans-serif;
}

.namename {
    font-family: "Roboto", sans-serif;
}

.form-avatar {
    position: relative;
    top: 400px;
    width: 100px;
    height: 100px;
    font-family: "Roboto", sans-serif;
}

#file1 {
    position: relative;
    top: 212px;
    left: 950px;
    /* width: 200px; */
    font-family: "Roboto", sans-serif;
    border: white;
}

#sub1 {
    position: relative;
    /* bottom: 177px; */
    left: 635px;
    top: 264px;
    font-family: "Roboto", sans-serif;
}

.fonttt {
    font-family: "Roboto", sans-serif;

}

.ban {
    color: #d30000;
    transform: scale(1.9);
}

.ba {
    position: relative;
    right: 56vw;
    top: 9.5vw;
}

.buff {
    position: absolute;
    bottom: 2vw;
    left: 20vw;
}

.bi {
    color: #28a745;
    transform: scale(1.37);
}