@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.profile-modal {
    width: 150px;
    height: 65px;
    background-color: white;
    position: absolute;
    left: 1015px;
    top: 50px;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;

}

/* .text-profile-modal{
    font-weight: bold;
    font-family: "Roboto", sans-serif;

} */
.but {
    color: white !important;
    background-color: #0693e3 !important;
    /* background-color: #28a745 !important; */
    font-weight: bold;
    margin-top: 7px;
    margin-right: 7px;
}

.sma {
    height: 30px;
    position: fixed;
}

.addsma {
    top: 14.1vw;
    right: 11vw
}

.delsma {
    top: 16.1vw;
    right: 11vw;
    width: 65px !important;
}