.s1 {}

.s2 {}

.s3 {}

.s4 {
    width: 250px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #04aa6d;
    border-radius: 30px;
    position: relative;
    top: 15px;
    left: 69px;
    padding-left: 85px;
    padding-top: 13px;
}

.combo {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 30px;
}

.s {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;

}

.xx {
    position: relative;
    left: 15px;
}