@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.detail-assessment {
    width: 1000px;
    border: 1px solid #cccccc;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 260px;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    border-radius: 20px;

}

span,
div,
label {
    font-family: "Roboto", sans-serif;

}

.first-assessment {
    border: 1px solid #cccccc;
    width: 900px;
    height: 200px;
    margin-bottom: 50px;
    /* margin-top: 150px; */
    text-align: center;
    position: relative;
    left: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    border-radius: 20px;
}

.element-assessment {
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
}

.avatar-assesser {
    width: 48px;
    height: 48px;
    max-width: 48px;
    border-radius: 999px;
    position: absolute;
    left: 30px;
    top: 10px;
    font-family: "Roboto", sans-serif;
}

.assessments {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Roboto", sans-serif;
}

.assessment {
    width: 900px;
    border: 1px solid #cccccc;
    ;
    display: flex;
    font-family: "Roboto", sans-serif;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    left: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
}

.right-assessment {
    width: 500px;
    display: flex;
    font-family: "Roboto", sans-serif;
    flex-direction: column;
    position: relative;
    left: 90px;
    top: 10px;
    margin-bottom: 50px;
}

.name-assesser {
    position: relative;
    /* bottom: 47px; */
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: italic;
}

.commentt {
    width: 500px;
    height: 70px;
    outline: none;
    resize: none;
    font-family: "Roboto", sans-serif;
    border-radius: 10px;
    font-weight: bold;
    position: relative;
    left: 200px;
    top: 10px;
}

.dg {
    position: relative;
    left: 220px;
    font-weight: bold;
    font-style: italic;

}

.sao {
    width: 80px;
    border-radius: 10px;
    position: relative;
    left: 750px;
    bottom: 60px;
    font-weight: bold;
}

.giftt {
    color: #d30000;
    position: relative;
    left: 780px;
    bottom: 70px;
}

.subbbb {
    width: 90px;
    color: white;
    background-color: #28a745;
    border: 1px white solid;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Roboto", sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    left: 400px;
    bottom: 30px;
}